/**/

input[type=number]{
	width: 40px;
}

input:invalid {
	border: red solid 3px;
}

input[class=fraction]{
	width: 70px;
}


.box {
	display: inline-block;
}

.progress {
	width: 40px;
	height: 40px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.progress > .inner {
	 position: absolute;
	color: black; 
	font-weight: bold;
}

.progress > svg {
	height: 100%;
	display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto 120px;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  text-align: center;
}